@model Labb1.Models.ShopItem

<div class="shopItem">
    <img src="@Model.image" />
    <h1>
        @String.Format("{0}", Model.name)
    </h1>
    <p>
        @String.Format("{0}", Model.description)
    </p>
    <input type="text" class="itemQuantity" size="3"/>
    <button class="buyItem">BUY</button>
</div>

