@model IEnumerable<Item>
@using System.Collections
@using Labb1.Models
@{
    ViewBag.Title = "Shop";

    IList<ShopItem> items = new List<ShopItem>();

    items.Add(new ShopItem("August", "Cheap mf"));
    items.Add(new ShopItem("Elvir", "A little bitch"));
    items.Add(new ShopItem("John"));
    items.Add(new ShopItem("Bosco"));
    items.Add(new ShopItem("Simon"));
    items.Add(new ShopItem("Björn"));
    items.Add(new ShopItem("Nick"));
    items.Add(new ShopItem("Carlos"));
    items.Add(new ShopItem("Markus"));
    items.Add(new ShopItem("Robin"));
    items.Add(new ShopItem("Johan 1"));
    items.Add(new ShopItem("Johan 2"));
    items.Add(new ShopItem("Patrick"));
    items.Add(new ShopItem("Victor"));
    items.Add(new ShopItem("Kristoffer"));
    items.Add(new ShopItem("Alex"));
    items.Add(new ShopItem("Felix"));
    items.Add(new ShopItem("Sebastian"));
    items.Add(new ShopItem("Andreas"));
    items.Add(new ShopItem("Jacob"));

}


<div id="shoppingList">
    @foreach (var item in Model){
        <div class="shopItem">
            <img src="@Html.DisplayFor(modelItem => item.name)"/>
            <h1>
                @Html.DisplayFor(modelItem => item.name)
            </h1>
            <p>
                @Html.DisplayFor(modelItem => item.description)
            </p>
            <input type="text" class="itemQuantity" size="3"/>
            <button data-id="" class="buyItem">BUY</button>
        </div>
    }
</div>

<script>

    $("document")
        .asEventStream("click", ".buyItemButton")
        .map(function (event, args) {
            return $.post("api/cart/", event.currentTarget.data("id"));
        }).done(function (view) {
            cartView.innerHTML = view;
        });

    $("document").on("click",
        "div.shopItem > button.buyItem",
        function() {
            
        });

    function buyItemEvent(event) {
        var shopItemElement = $(event.target.parentElement);
        
    }
</script>